@import '_variables.scss';
@import '_mixins.scss';

.header {
    display: flex;

    &__topbar {
        padding: 26px 0 26px 60px;
        font-weight: map-get($font-weights, 'bolder');
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $secondary;
        font-size: 24px;

        @include respond-below(lg) {
            padding: 16px 20px;
            margin: 0 auto;
            font-size: 18px;
        }
    }

    &__sitetitle {
        text-transform: uppercase;
        font-family: $font-title;
        font-weight: map-get($font-weights, 'bolder');

        &:hover {
            color: $primary;
        }

    }

    &__social {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
    }

    &__item {
        padding-right: 10px;

        &:hover {
            color: $primary;
        }
    }

    &__hero-wrapper {
        position: relative;
        width: 100%;
        height: auto;
    }

    &__image-wrapper {
        z-index: -1;
      }

    &__navbar {
        padding: 89px 0 89px 60px;
        display: flex;
        flex-direction: column;
        font-family: $font-title;
        font-size: 64px;
        font-weight: 900;
        line-height: 90px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        position: relative;
        width: 33%;

        @include respond-below(lg) {
            font-size: 44px;
            line-height: 60px;
            text-align: center;
            margin: 0 auto;
            padding: 50px 20px;
            width: 70%;
        }

    }

    &__links {
        color: transparent;
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
        background-image: linear-gradient(to right,
                $secondary,
                $secondary 50%,
                transparent 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
        position: relative;

        &::before {
            content: '';
            background: $secondary;
            position: absolute;
            bottom: -2px;
            display: block;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            background-position: 0;
        }

        &:hover::before {
            width: 100%;
        }
    }

    &__links--active {
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}