@import '_variables.scss';
@import '_mixins.scss';

.container {
    padding: 0 2rem;

    @include respond-below(lg) {
      padding: 0 1rem;
    }
  }
  
  .main {
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-family: $font-title;
      color: $secondary;
      text-align: center;
      padding-bottom: 1rem;
      font-size: 40px;
      display: inline-block;
      width: 80%;
      text-transform: uppercase;
      border-bottom: 1px solid $secondary;
      font-weight: map-get($font-weights, 'bolder');
    }
  
    &__text {
      color: $primary;
      font-size: 22px;
      padding: 44px 280px;
      font-weight: map-get($font-weights, 'light');

      @include respond-below(lg) {
        padding: 14px 20px;
        font-size: 18px;
      }
    }

    &__par {
      padding: 0 0 10px 0;
    }
  }
  
  // Arrow to go to top of page
  .icon__top {
    color: $primary;
    position: absolute;
    font-size: 40px;
    right: 40px;
  }